/* Navigation.scss */
.navigation {
    display: flex;
    justify-content: space-around;
    background-color: #f8f8f8;
    padding: 10px;
  }
  
  .nav-link {
    text-decoration: none;
    color: #333;
    font-weight: bold;
  }
  
  .navigation-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
  }
  